[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-auto-save"]
	path = bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/Recover.vim"]
	path = bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "bundle/tomorrow-theme"]
	path = bundle/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "bundle/AsyncCommand"]
	path = bundle/AsyncCommand
	url = https://github.com/idbrii/AsyncCommand.git
[submodule "bundle/markdown2ctags"]
	path = bundle/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-pantondoc"]
	path = bundle/vim-pantondoc
	url = https://github.com/vim-pandoc/vim-pantondoc.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/vim-rename"]
	path = bundle/vim-rename
	url = https://github.com/wojtekmach/vim-rename.git
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = git@github.com:Shougo/neosnippet-snippets.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = git@github.com:koppa/vim-ipython.git
[submodule "bundle/vim-fetch"]
	path = bundle/vim-fetch
	url = git@github.com:kopischke/vim-fetch.git
